.title-main {
	font-size: 72px;
	font-size: 7.2rem;
	margin-top: 154px;
}

.title-secundary {
	font-size: 36px;
	font-size: 3.6rem;
	margin-top: -34px;
	color: #ddd;
}

.title {
	font-size: 50px;
	font-size: 5rem;
	text-align: center;
	font-family: 'amaranthregular',serif;
}


