/*html {
  box-sizing:border-box;
  font-size:62.5%;
  font-family: Arial,Verdana,sans-serif;
}
  *, *:before, *:after{
	box-sizing:inherit;
  
}

Usar siempre. hace que el contenido crezca y se va a mantener dependiendo del contenido




.module p{
  font-size:15px;
  font-size:1.5rem;
  
}

*/

/*  ////////////////////////////   global //////////////////*/