.content-main {
	margin-top: 160px;
	text-align: center;
}
#about-me {
	max-width: $max-width;
	margin: 0 auto;
	display: inline-block;
	height: 390px;

}

#about-me hr {
	margin-top: -39px;
	border: 2px solid $negro;
}
.text-about-me {
	margin-top: 56px;
	text-align: center;
	font-size: 18px;
	font-size: 1.8rem;
	width: 50%;
	display: inline-block;
}
.button-about-me { 
	height: 40px;
	width: 140px;
	margin-left: 13px;
	font-size: 18px;
	font-size: 1.8rem;
	margin-top: 25px;
}