#proyect {
 background-color: #2196F3;
 height: 920px;
 -webkit-box-shadow:inset 0 10px 100px 1px rgba(16, 13, 13, 0.39);;
 box-shadow:inset 0 10px 100px 1px #rgba(16, 13, 13, 0.39);
}
.ovelay-proyect {
  width: $max-width;
  margin:0 auto;
}
#proyect hr {
	margin-top: -39px;
	border: 2px solid $blanco;
	width: 98px;
}
#cont-proyect {
	width: 100%;
	padding: 30px;
  margin-left: -18px;
}
.title-proyect {
  display: inline-block;
  color: $blanco;

}
.img-proyect {
  box-shadow: 1px 1px 1px 1px #ccc;
  display: inline-block;
  margin-top: 50px;
  margin-left: 37px;
  height: 290px;
  width: 290px;
  overflow: hidden;

  h3 {
  	font-size: 20px;
    font-size: 2rem;
  	margin-left: -40px;
  	margin-top: 48px;
  }
  hr {
  	border: 1px solid $negro;
 	margin-top: -12px;
  	width: 198px;

  }
  &:hover .descript {
    height: 301px;
    margin-top: -561px;
    transition-duration: 1s;
    transition-delay:0s;
  }
  &:hover .mas-descript {  
     transition-duration: 1s;
     transition-delay: 1s;
     visibility: visible;
    }
  &:hover .text-info-descript {
    visibility: visible;
    transition-duration: 0.7s;
    transition-delay: 0.7s;
  }
  
}
.img-proyect-ajax {
  height: 290px;
  width: 290px; 
  display: inline-block;
}
.descript {
  margin-top: -153px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  width: 99%;
  height: 51px;
  margin-left: 2px;
  overflow: hidden;
}
.text-descript {
  color: #FFF;
  font-size: 1.9rem;
  margin-top: 7px;
  display: inline-block;
}
.mas-descript {
  width: 60px;
  height: 60px;
  margin-top: -174px;
  position: absolute;
  margin-left: -176px;
  visibility: hidden;

}
.text-info-descript {
  margin-top: -71px;
  font-size: 19px;
  text-align: center;
  color: #fff;
  visibility: hidden;
}


/*///////////// animaciones //////////*/

