.nav-main{
  background-color: rgba(52,52,52,0.9);
  display: inline-block;  
  height: 79px;  
  margin-top: -16px;
  overflow: hidden;
  text-align: center;
  width:$all;

}

.cont-li-header {
	list-style: none;
  width: 43%;
  display: inline-block;
  padding: 0;
  float: right;
  margin-top: 11px;
  font-size: 2rem;
}

.li-item-header {
	display: inline-block;
	padding: 23px;
}

.li-item-header a {
	text-decoration: none;
	color: $blanco;
	font-size: 20px;
	font-size: 2rem;
}

////// media //////



@media (max-width: 1024px) {
	.cont-li-header {
	  width: 62%;
	}
}

@media(min-width: 1024px) {
		.nav-main {
			position: fixed;
		}

		.li-item-header:hover {
			background: #53C184;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-ms-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;
		}

		.nav-main {
			position: fixed;
      box-shadow: 0px 1px 9px 2px  #0e0e0e;
		}
}

@media (max-width: 780px) {
	.cont-li-header {
	  width: 70%;
	}

}

@media (max-width: 640px) {
	.cont-li-header {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.nav-main {
		background-color: rgba(52, 52, 52, 0.99);
		position: absolute;
		position: fixed;
		height: auto;
    box-shadow: 0px 1px 9px 2px #000;
	}

	.cont-li-header {
    width: 100%;
    height: 0;
  	background-color: rgba(52,52,52,0.9);
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -ms-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
	}

  .cont {
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -ms-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
    display: block;
    width: 100%;
    height: 307.9px;

  }

	.li-item-header {
		margin-top: 1px;
    border-bottom: 1px solid #fff;
    display: block;


    .li-item-header-link {
    	font-size: 3rem;
  	}

	}

	.img-menu {
		width: 35px;
    height: 43px;
		float: right;
		display: inline-block;
		margin-top: 27px;
		margin-right: 5%;
		padding: 1px 1px 13px;

	}

  .hamburguer-bt {
    transition: all 0.2s ease-out 0s;
    width: 40px;
    margin-top: 19px;
    cursor: pointer;
    display: inline-block;
    float: right;
    margin-top: 8%;
    margin-right: 3%;
  }

  .hamburguer-bt .hamburguer-bt__stripe {
    width: 80%;
    height: 6px;
    background: white;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
  }

  .hamburguer-bt.on .hamburguer-bt__stripe__top {
    transform: rotate(45deg) translate(10px, 10px);
  }

  .hamburguer-bt.on .hamburguer-bt__stripe__middle {
    opacity: 0;
  }

  .hamburguer-bt.on .hamburguer-bt__stripe__bottom {
    transform: rotate(-45deg) translate(10px, -10px);
  }

}

@media (min-width: 481px) {
	.img-menu {
		display: none;
	}
}

@media (max-width: 400px) {
	.title-main-header {
		font-size: 4.8rem;
		margin-top: 156px;
	}
	.title-secundary-header {
    font-size: 3.5rem;
	}
}