.proceso-trabajo {
	height: 502px;
	overflow: hidden;
}
.overlay-proceso {
	width: $max-width;
	margin: 0 auto;
}
.title-proceso-trabajo {
	margin-top: 60px;
	
}
.cont-proceso-de-trabajo {
	list-style: none;
	padding: 30px;
	margin-top: 30px
}
.cont-proceso-de-trabajo li {
	display: inline-block;
	padding: 45px;
}
.cont-proceso-cuadro {
	background: #00BCD4;
	border: 2px solid #00BCD9;
	width: 150px;
	height: 150px;
	text-align: center;



  &:hover .img-proceso {
  	display: block;

  }
  &:hover h3{
  	visibility: hidden;
  }
  &:hover {
		background-color: rgba(213,236,236,0.5);
		-webkit-transition: background 1s ease;
		-moz-transition: background 1s ease;
		-ms-transition: background 1s ease;
		-o-transition: background 1s ease;
		transition: background 1s ease;
    box-shadow: 1px 1px 1px 1px #ccc;
    -webkit-animation-duration: 0.5s;
		-webkit-animation-delay:0s;
		-webkit-animation-name: rotateIn;
    -moz-animation-duration: 0.5s;
    -moz-animation-delay:0s;
    -moz-animation-name: rotateIn;
		animation-name: rotateIn;
  }
}
.cont-proceso-cuadro h3 {								
	display: inline-block;
	text-align: center;
	color: $blanco;
	margin-top: 62px;
	font-size: 19px;
	font-size: 1.9rem;
  font-family: 'abeezeeitalic',sans-serif;
}
.proceso-trabajo hr {
	margin-top: -39px;
	border: 2px solid $negro;
	width: 168px; 	
}
.img-proceso {
	position: absolute;
  width: 130px;
  height: 130px;
  margin-left: 10px;
  margin-top: 10px;
  display: none;
  }

  /// animaciones ///

  @-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

