.title-main {
	font-size: 72px;
	font-size: 7.2rem;
	margin-top: 154px;
    text-shadow: 3px 3px $azul;
}.title-secundary {
		font-size: 36px;
		font-size: 3.6rem;
		margin-top: -34px;
		color: #ddd;
		text-shadow: 2px 2px $azul;
}
.title {
	font-size: 50px;
	font-size: 5rem;
	text-align: center;
}
hr {
	width: 15%;
	text-align: center;
	margin-top: -20px;

}